/* VA PCSS*/
@font-face {
	font-family: 'VA_pcss';
	src:
		url('https://porschesac.github.io/pcss_icons.woff') format('woff'),
		url('https://porschesac.github.io/pcss_icons.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;	
}

