/* Porsche Next - Bold*/
@font-face {
	font-family: 'Porsche Next - Bold';
	src:
		url('https://porschesac.github.io/PorscheNextWLa-Bold.woff2') format('woff2'),
		url('https://porschesac.github.io/PorscheNextWLa-Bold.woff') format('woff'),
		url('https://porschesac.github.io/PorscheNextWLa-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;	
}

