/* Porsche Next - ThinItalic*/
@font-face {
	font-family: 'Porsche Next - ThinItalic';
	src:
		url('https://porschesac.github.io/PorscheNextWLa-ThinItalic.woff2') format('woff2'),
		url('https://porschesac.github.io/PorscheNextWLa-ThinItalic.woff') format('woff'),
		url('https://porschesac.github.io/PorscheNextWLa-ThinItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;	
}

